@import 'https://fonts.googleapis.com/css?family=Quicksand|Source+Sans+Pro:300,400';

body {
  background-image: url('stardust/stardust.png');
}

h1 {
  /*color: #ffffff;*/
  font-family: "Quicksand", sans-serif;
}

.disable {
  display: none;
}
