@import 'https://fonts.googleapis.com/css?family=Quicksand|Source+Sans+Pro:300,400';

body {
  /*background-image: url('stardust/stardust.png');*/
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 50px;
  line-height: 60px;
  color: #660066;
  font-family: "Quicksand", sans-serif;
  margin-left: 20px;
}

.disable {
  display: none;
}

#landing {
  width: 100vh;
  height: 100vh;
}

.welcome {
  display: none;
  margin-top: 20vh;
}

.arrow {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30vh;
}

#arrowDown {
  width: 80px;
}

#firebaseAuth {
  position: absolute;
  left: '30vh';
  width: 100%;
}

#firebaseAuth form {
  border: solid 2px #0033cc;
}
