@import "https://fonts.googleapis.com/css?family=Quicksand|Source+Sans+Pro:300,400";
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300; }

.disable {
  display: none; }

a:visited, a:focus {
  text-decoration: none; }

a:hover {
  color: #008080; }

#landingHead {
  display: none; }

h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  line-height: 60px;
  color: #660066;
  margin-left: 40px; }

#landing {
  width: 100vh;
  height: 100vh; }

.welcome {
  display: none;
  margin-top: 20vh; }

.arrow {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30vh; }
  .arrow img {
    width: 125px; }

.authBox {
  border: solid 1px #660066;
  position: absolute;
  padding: 20px 50px; }
  .authBox .p {
    font-family: "Source Sans Pro", sans-serif; }
  .authBox .form-control {
    border: none;
    border-bottom: solid 1px #660066;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 4px 0px;
    width: 100%;
    text-align: left;
    color: #660066;
    font-family: "Quicksand", sans-serif;
    font-size: 16px; }
    .authBox .form-control:first-child {
      margin-bottom: 10px; }
    .authBox .form-control:focus {
      border-color: transparent;
      border-bottom: solid 2px #660066;
      box-shadow: none; }
  .authBox .btn {
    border: solid 1px #660066;
    border-radius: 0;
    background-color: #ffffff;
    color: #660066;
    font-family: "Quicksand", sans-serif; }
    .authBox .btn:hover {
      border-width: 2px; }

#mainHeader {
  position: absolute;
  top: 0; }
  #mainHeader h1 {
    color: #008080;
    display: inline-block; }
  #mainHeader h1, #mainHeader ul, #mainHeader li {
    display: inline-block; }
  #mainHeader ul {
    list-style: none;
    float: right;
    margin-top: 20px; }
  #mainHeader .btn {
    border: solid 1px #008080;
    border-radius: 0;
    background-color: #ffffff;
    color: #008080;
    font-family: "Quicksand", sans-serif;
    border: none;
    font-size: 12px; }
    #mainHeader .btn:hover {
      border-width: 2px; }
    #mainHeader .btn:hover {
      -webkit-text-stroke-width: 1px; }

.userDash {
  margin-top: 150px; }
  .userDash .userDecks div {
    margin-bottom: 20px; }
  .userDash .userDecks div > div {
    border: solid 1px #008080;
    padding: 50px;
    max-height: 154px; }
    .userDash .userDecks div > div h2 {
      color: #008080;
      text-align: center;
      vertical-align: middle;
      font-size: 20px;
      font-font-family: "Quicksand", sans-serif; }
  .userDash .userDecks #newDeck .glyphicon {
    font-size: 15px; }
  .userDash .clickedDeck {
    text-align: center;
    background-color: #008080; }
    .userDash .clickedDeck h3, .userDash .clickedDeck h4, .userDash .clickedDeck h6 {
      color: white;
      font-size: 45px;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 15px; }
    .userDash .clickedDeck h4 {
      font-size: 30px; }
    .userDash .clickedDeck h6 {
      font-size: 14px;
      margin-top: 40px;
      margin-bottom: 5px; }
    .userDash .clickedDeck button {
      border: solid 1px white;
      border-radius: 0;
      background-color: #ffffff;
      color: white;
      font-family: "Quicksand", sans-serif;
      margin-top: 20px;
      background-color: transparent; }
      .userDash .clickedDeck button:hover {
        border-width: 2px; }

.newDeck {
  margin-top: 150px; }
  .newDeck .btn {
    border: solid 1px #990000;
    border-radius: 0;
    background-color: #ffffff;
    color: #990000;
    font-family: "Quicksand", sans-serif;
    float: right; }
    .newDeck .btn:hover {
      border-width: 2px; }
  .newDeck .deckHeading {
    display: none; }
    .newDeck .deckHeading h3 {
      margin-bottom: 0;
      font-family: "Quicksand", sans-serif;
      font-size: 40px;
      color: #990000; }
  .newDeck .addName {
    position: relative; }
    .newDeck .addName .form-control {
      border: none;
      border-bottom: solid 1px #990000;
      border-radius: 0;
      box-shadow: none;
      margin: 0;
      padding: 4px 0px;
      width: 100%;
      text-align: left;
      color: #990000;
      font-family: "Quicksand", sans-serif;
      font-size: 16px;
      font-size: 24px; }
      .newDeck .addName .form-control:first-child {
        margin-bottom: 10px; }
      .newDeck .addName .form-control:focus {
        border-color: transparent;
        border-bottom: solid 2px #990000;
        box-shadow: none; }
  .newDeck .cardInput {
    margin-top: 30px; }
    .newDeck .cardInput h3 {
      color: #990000;
      font-family: "Quicksand", sans-serif; }
    .newDeck .cardInput p {
      margin-top: 10px;
      max-height: 112px;
      overflow: auto;
      color: #990000;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px; }
    .newDeck .cardInput .contentEditable {
      height: 100px;
      position: relative;
      border: none;
      border-bottom: solid 1px #990000;
      border-radius: 0;
      box-shadow: none;
      margin: 0;
      padding: 4px 0px;
      width: 100%;
      text-align: left;
      color: #990000;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 16px; }
      .newDeck .cardInput .contentEditable:first-child {
        margin-bottom: 10px; }
      .newDeck .cardInput .contentEditable:focus {
        border-color: transparent;
        border-bottom: solid 2px #990000;
        box-shadow: none; }
      .newDeck .cardInput .contentEditable p {
        font-family: "Source Sans Pro", sans-serif;
        vertical-align: text-bottom;
        font-size: 20px;
        margin-bottom: 3px;
        color: #8c8c8c;
        position: absolute;
        bottom: 0; }
        .newDeck .cardInput .contentEditable p:focus {
          outline: 0px solid transparent; }
    .newDeck .cardInput #done {
      margin-right: 10px; }

.empty {
  margin-top: 250px;
  text-align: center; }
  .empty h2 {
    font-family: "Quicksand", sans-serif;
    color: #66ccff;
    text-align: center; }
  .empty .btn {
    border: solid 1px #66ccff;
    border-radius: 0;
    background-color: #ffffff;
    color: #66ccff;
    font-family: "Quicksand", sans-serif;
    margin-top: 10px;
    float: none; }
    .empty .btn:hover {
      border-width: 2px; }

.cardDisplay {
  margin-top: 60px; }
  .cardDisplay div {
    border: solid 1px #990000;
    margin-top: 40px;
    padding: 20px; }
    .cardDisplay div:nth-child(even) {
      border-left: none; }
    .cardDisplay div p {
      font-family: "Source Sans Pro", sans-serif;
      color: #990000; }

.cardReview .reviewContent {
  border: solid 1px #66ccff;
  padding: 50px;
  margin-top: 150px;
  margin-bottom: 5px;
  text-align: center; }
  .cardReview .reviewContent h2 {
    color: #66ccff;
    font-family: "Quicksand", sans-serif;
    text-align: center; }
  .cardReview .reviewContent .btn {
    margin-top: 10px;
    float: none; }
.cardReview p {
  color: #66ccff;
  float: right;
  margin-bottom: 50px; }
.cardReview .contentEditable {
  height: 100px;
  position: relative;
  border: none;
  border-bottom: solid 1px #66ccff;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 4px 0px;
  width: 100%;
  text-align: left;
  color: #66ccff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px; }
  .cardReview .contentEditable:first-child {
    margin-bottom: 10px; }
  .cardReview .contentEditable:focus {
    border-color: transparent;
    border-bottom: solid 2px #66ccff;
    box-shadow: none; }
  .cardReview .contentEditable p {
    font-family: "Source Sans Pro", sans-serif;
    vertical-align: text-bottom;
    font-size: 20px;
    margin-bottom: 3px;
    color: #8c8c8c;
    position: absolute;
    bottom: 0; }
    .cardReview .contentEditable p:focus {
      outline: 0px solid transparent; }
.cardReview .btn {
  border: solid 1px #66ccff;
  border-radius: 0;
  background-color: #ffffff;
  color: #66ccff;
  font-family: "Quicksand", sans-serif;
  float: right; }
  .cardReview .btn:hover {
    border-width: 2px; }
.cardReview #check, .cardReview #x {
  display: none;
  position: absolute;
  top: 180px;
  right: 20vw;
  font-size: 100px;
  color: white;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #66ccff; }

footer {
  position: absolute;
  top: 100%;
  width: 100%; }
  footer p {
    margin-top: 100px;
    padding-right: 10px;
    float: right;
    font-size: 12px;
    text-align: right;
    color: #008080; }

/*# sourceMappingURL=style.css.map */
