@import 'https://fonts.googleapis.com/css?family=Quicksand|Source+Sans+Pro:300,400';
@import "Helpers/variables";
@import "Helpers/mixins";


body {
  font : {
    family: $source-sans;
    weight: 300;
  }
}

.disable {
  display: none;
}

a {
  &:hover {
    text-decoration: none;
  }
}

#landingHead {
  display: none;
}

h1 {
  font : {
    family: $quicksand;
    size: 50px;
  }
  line-height: 60px;
  color: $purple;
  margin-left: 40px;
}

#landing {
  width: 100vh;
  height: 100vh;
}

.welcome {
  display: none;
  margin-top: 20vh;
}

.arrow {
  text-align: center;
  margin : {
    top: 10px;
    bottom: 30vh;
  }
  img {
    width: 125px;
  }
}

.authBox {
  @include solid-border($purple);
  position: absolute;
  padding: 20px 50px;

  .p {
    font-family: $source-sans;
  }

  .form-control {
    @include form-control($purple, $quicksand);
  }

  .btn {
    @include button($purple);
  }
}

#mainHeader {
  position: absolute;
  top: 0;
  h1 {
    color: $teal;
    display: inline-block;
  }
  h1, ul, li {
    display: inline-block;
  }
  ul {
    list-style: none;
    float: right;
    margin-top: 20px;
  }
  .btn {
    @include button($teal);
    border: none;
    font-size: 12px;
    &:hover {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $teal;
    }
  }
}

.userDash {
  margin-top: 150px;
}

.userDecks {
  div > div{
    @include decks($teal);
  }
}
