@mixin solid-border($color) {
  border: solid 1px $color;
}

@mixin form-control($color, $font) {
  border: none;
  border : {
    bottom: solid 1px $color;
    radius: 0;
  }
  box-shadow: none;
  margin: 0;
  padding: 4px 0px;
  width: 100%;
  text-align: left;
  color: $color;
  font : {
    family: $font;
    size: 16px;
  }

  &:first-child {
    margin-bottom: 10px;
  }
  &:focus {
    border : {
      color: transparent;
      bottom: solid 2px $color;
    }
    box-shadow: none;
  }
}

@mixin button($color) {
  border: solid 1px $color;
  border-radius: 0;
  background-color: #ffffff;
  color: $color;
  font-family: $quicksand;
  &:hover {
    border-width: 2px;
  }
}

@mixin decks($color) {
  border: solid 1px $color;
  padding: 50px;
  max-height: 154px;
  h2 {
    color: $color;
    text-align: center;
    vertical-align: middle;
    font : {
      size: 20px;
      font-family: $quicksand;
    }
  }
}

@mixin contentEditable($color){
  height: 100px;
  position: relative;
  @include form-control($color, $source-sans);
  p {
    font-family: $source-sans;
    vertical-align: text-bottom;
    font-size: 20px;
    margin-bottom: 3px;
    color: #8c8c8c;
    position: absolute;
    bottom: 0;
    &:focus{
      outline: 0px solid transparent;
    }
  }
}
